.gameBox {
    border-style: solid;
    border-color: #303F9F;
    height: 500px; /*TODO make this dynamic*/
    width: 400px;
}

.gameContent {
    margin-top: 5px;
    height: calc(100% - 105px);
    width: inherit;
}

.tabBar {
    height: 50px;
    width: 100%;
}

.tab4 {
    border-style: solid;
    border-color: red;

    height: calc(100% - 6px);
    width: calc(25% - 6px);
    position: relative;
    float: left;
}

.tab3 {
    border-style: solid;
    border-color: red;

    text-align: center;

    height: calc(100% - 6px);
    width: calc(33% - 6px);
    position: relative;
    float: left;
}

/*TODO handle tab4*/
.tab3:hover {
    background-color: blue;
}

.lastTab3 {
    width: calc(34% - 6px);
    float: right;
}

.tabText {
    line-height: 44px;
}

.enemyHealth {
    width:58%;
    border: 2px solid darkred;
    border-radius: 10px;
    height:75%;
    background-color: lightcoral;
    float:left;
}
.enemyInnerHealth {
    height:100%;
    width:100%;
    border-radius: 7px;
    background-color:darkred;
    transition: width .2s linear;
}

.enemyInnerHealthText {
    color: lightcoral;
    float: right;
    line-height: 33px;
}

.attackLabel {
    height: 75%;
    width: 12%;
    float: left;
}

.attackInnerLabel {
    line-height: 36px;
}

.commonRow
{
    padding: 10px;
    padding-top: 20px;
    height: 10%;

/*    background-color: yellow;*/
}

.atkButtonContainer {
    width: calc(30% - 8px);
    height: 75%;
    float: right;
    text-align: center;
    padding: 2px;
}

.atkButton {
    height: 100%;
    width: 75%;
}

.upgButton {
    width: 100%;
    height: 90%;
}

.upgButtonLabel {
    float: left;
}

.upgButtonCost {
    float: right;
}

.oCanvas {
    border:1px solid #000000;
    height: 45%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.oButtons {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.leftColumn {
    display: block;
    float: left;
    height: calc(55% - 7px);
    width: 50%;
}

.rightColumn {
    display: block;
    float: right;
    height: calc(55% - 7px);
    width: 50%; 
}


.footer {
    display: inline-block;
    width: 100%;
    height: 50px;
}

.footerStats {
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    color: #303F9F;
    font-size: 110%;
    font-weight: bold;
}














